Spending Sensibly with BI

Statistical analysis of customer spending habits

In [8]:
## Import of needed libraries/functionalities

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn import datasets, preprocessing, metrics

In [27]:
## Loading of data into dataset and initial observations

dfInit = pd.read_csv('purchasing-behavior.csv',',')

# datatypes contained in file, can give insight in which functions/methods need to be used going forward
dfInit.dtypes

# allows a quick look at the size of the dataset
dfInit.shape

# looking at the first five and last five entries of the dataset can reveal an approximate range of values
dfInit.head

C:\Users\Flobobo\AppData\Local\Temp\ipykernel_18624\3678156869.py:3: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  dfInit = pd.read_csv('purchasing-behavior.csv',',')

<bound method NDFrame.head of      user_id  age  annual_income  purchase_amount  loyalty_score region  \
0          1   25          45000              200            4.5  North
1          2   34          55000              350            7.0  South
2          3   45          65000              500            8.0   West
3          4   22          30000              150            3.0   East
4          5   29          47000              220            4.8  North
..       ...  ...            ...              ...            ...    ...
233      234   40          60000              450            7.2   West
234      235   38          59000              430            6.9  North
235      236   54          74000              630            9.4  South
236      237   32          52000              360            5.8   West
237      238   31          51000              340            5.6  North

     purchase_frequency
0                    12
1                    18
2                    22
3                    10
4                    13
..                  ...
233                  20
234                  20
235                  27
236                  18
237                  17

[238 rows x 7 columns]>

In [29]:
# checking to see if there are empty data entries in the dataset. This will determine how much cleaning of the data is needed. 

dfInit.isna().sum()

user_id               0
age                   0
annual_income         0
purchase_amount       0
loyalty_score         0
region                0
purchase_frequency    0
dtype: int64

In [31]:
dfInit.isnull().sum()

user_id               0
age                   0
annual_income         0
purchase_amount       0
loyalty_score         0
region                0
purchase_frequency    0
dtype: int64

In [35]:
# a concise grid with various statistical descriptors for the data. Especially important are standard deviation and median values. 
dfInit.describe()

,user_id,age,annual_income,purchase_amount,loyalty_score,purchase_frequency
count,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000
mean,119.500000,38.676471,57407.563025,425.630252,6.794118,19.798319
std,68.848868,9.351118,11403.875717,140.052062,1.899047,4.562884
min,1.000000,22.000000,30000.000000,150.000000,3.000000,10.000000
25%,60.250000,31.000000,50000.000000,320.000000,5.500000,17.000000
50%,119.500000,39.000000,59000.000000,440.000000,7.000000,20.000000
75%,178.750000,46.750000,66750.000000,527.500000,8.275000,23.000000
max,238.000000,55.000000,75000.000000,640.000000,9.500000,28.000000

In [ ]:
# a deeper investigation of the grid shown above dividing the dataset into agebrackets

bins = [0,10,20,30,40,50]